.feature-bg {
  width: 100%;
  background: #0e1133;
  position: relative;
  overflow: hidden;
  z-index: 10;
  margin: 0;
}

.feature-header {
  padding-bottom: 25px;
  text-align: center;
  padding-top: 100px;
}

.feature-header .appie_feature_title1 {
  font-size: 50px;
  line-height: 54px;
  color: #fff;
}

.feature-header .appie_feature_title2 {
  font-size: 18px;
  line-height: 28px;
  margin-top: 11px;
  color: #fff;
}

.appie_features_boxes h4 {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  position: relative;
}
.appie_features_boxes p {
  font-size: 14px;
  opacity: 0.6;
  color: #fff;
  margin-top: 3px;
}

.appie_features_boxes .appie_features_item1 {
  border: 1px solid #202234;
  padding: 25px 30px 16px 70px;
  border-radius: 6px;
  transition: all 0.3s ease-out 0s;
  margin-bottom: 20px;
  margin-left: 100px;
  margin-right: 70px;
}
.appie_features_boxes .appie_features_item2 {
  border: 1px solid #202234;
  padding: 25px 30px 16px 70px;
  border-radius: 6px;
  transition: all 0.3s ease-out 0s;
  margin-bottom: 20px;
  margin-left: 100px;
  margin-right: 70px;
}
.appie_features_boxes .appie_features_item3 {
  border: 1px solid #202234;
  padding: 25px 30px 16px 70px;
  border-radius: 6px;
  transition: all 0.3s ease-out 0s;
  margin-bottom: 20px;
  margin-left: 100px;
  margin-right: 70px;
}

.appie_features_boxes .appie_features_item1 h4::before {
  position: absolute;
  content: "";
  left: -40px;
  top: 0;
  height: 30px;
  width: 30px;
  background: #ff3e66;
  border: 6px solid #2a182d;
  border-radius: 50%;
}

.appie_features_boxes .appie_features_item2 h4::before {
  position: absolute;
  content: "";
  left: -40px;
  top: 0;
  height: 30px;
  width: 30px;
  background: #2eacfc;
  border: 6px solid #2a182d;
  border-radius: 50%;
}
.appie_features_boxes .appie_features_item3 h4::before {
  position: absolute;
  content: "";
  left: -40px;
  top: 0;
  height: 30px;
  width: 30px;
  background: #33c956;
  border: 6px solid #2a182d;
  border-radius: 50%;
}

.appie_features_boxes .appie_features_item1:hover {
  border-color: #ff3e66;
}
.appie_features_boxes .appie_features_item2:hover {
  border-color: #2eacfc;
}
.appie_features_boxes .appie_features_item3:hover {
  border-color: #33c956;
}

.feature_shape_1 {
  position: absolute;
  left: 240px;
  top: 240px;
  z-index: -1;
  -webkit-animation: linear 20s animationFramesThree infinite;
  animation: linear 20s animationFramesOne infinite;
}

.feature_shape_2 {
  position: absolute;
  right: 190px;
  top: 160px;
  z-index: -1;
  -webkit-animation: linear 20s animationFramesFive infinite;
  animation: linear 20s animationFramesTwo infinite;
}

.feature_shape_3 {
  position: absolute;
  right: 160px;
  bottom: 260px;
  z-index: -1;
  -webkit-animation: linear 20s animationFramesOne infinite;
  animation: linear 20s animationFrames infinite;
}

@keyframes animationFramesOne {
  0% {
    transform: translate(165px, -179px);
  }

  100% {
    transform: translate(-346px, 617px);
  }
}

@keyframes animationFramesTwo {
  0% {
    transform: translate(61px, -99px) rotate(0deg);
  }

  21% {
    transform: translate(4px, -190px) rotate(38deg);
  }
  41% {
    transform: translate(-139px, -200px) rotate(74deg);
  }
  60% {
    transform: translate(-263px, -164px) rotate(108deg);
  }
  80% {
    transform: translate(-195px, -49px) rotate(144deg);
  }
  100% {
    transform: translate(-1px, 0px) rotate(180deg);
  }
}

@keyframes animationFrames {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }

  20% {
    transform: translate(73px, -1px) rotate(36deg);
  }
  40% {
    transform: translate(141px, 72px) rotate(72deg);
  }
  60% {
    transform: translate(83px, 122px) rotate(108deg);
  }
  80% {
    transform: translate(-40px, 72px) rotate(144deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}
